.LogementWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.LogementExplications {
   display: flex;
   flex-direction: row;
   min-height: 143px;
   width: calc(100% - 200px);
   @media (max-width: 700px) {
      width: calc(100% - 40px);
   }
   @media (max-width: 870px) {
      flex-direction: column;
   }
}
.LogementHost {
   display: flex;
   flex-direction: column;
   margin-top: 5px;
   @media (max-width: 870px) {
      margin-top: 10px;
      margin-bottom: 5px;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
   }
}
.LogementCollapses {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: calc(100% - 200px);
   margin: 10px 0px 50px 0px;
   @media (max-width: 700px) {
      width: calc(100% - 40px);
      margin-bottom: 15px;
   }
   @media (max-width: 870px) {
      margin-top: 15px;
   }
   @media (max-width: 1000px) {
      flex-direction: column;
      margin-bottom: 0px;
   }
}
.LogementConditionnalCollapse {
   flex-direction: column;
   width: 45%;
}
