.LogementWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.LogementExplications {
   display: flex;
   flex-direction: row;
   min-height: 143px;
   width: calc(100% - 200px);
   @media (max-width: 700px) {
      width: calc(100% - 40px);
   }
   @media (max-width: 1025px) {
      flex-direction: column;
   }
}
.LogementHost {
   display: flex;
   // background-color: green;
   flex-direction: column;
}

.LogementCollapses {
   background-color: yellow;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 52px;
   width: calc(100% - 200px);
   margin-top: 25px;
   @media (max-width: 700px) {
      flex-direction: column;
      width: calc(100% - 40px);
   }
}
