.CardStructure {
   background-color: #ff6060;
   min-width: 335px;
   flex: 1 0 25%;
   height: 255px;
   border-radius: 15px 15px 10px 10px;
   display: flex;
   margin: 10px 0px;
   @media (min-width: 701px) {
      height: 340px;
      min-width: 340px;
      margin: 25px;
   }
}
.CardStructure:hover {
   cursor: pointer;
}
.CardImage {
   display: flex;
   object-fit: cover;
   width: 100%;
   max-height: calc(100% - 74px);
   border-radius: 10px 10px 0px 0px;
}
.CardTitle {
   display: flex;
   align-self: flex-end;
   align-items: center;
   max-width: 260px;
   height: 52px;
   position: absolute;
   margin: 10px 20px;
   color: #ffffff;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   word-spacing: 3px;
}
