.MenuWrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.MenuButton {
   border: 0;
   border-radius: 5px;
   padding: 0 10px;
   margin: 30px 100px 0px 100px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ff6060;
   color: white;
   font-weight: 700;
   @media (max-width: 975px) {
      margin: 20px 0px 0px 0px;
      height: 30px;
   }
}
.MenuButton:hover {
   cursor: pointer;
}
.MenuTagName {
   font-weight: 700;
   font-size: 24px;
   @media (max-width: 975px) {
      font-size: 13px;
   }
}
.MenuTagArrow {
   @media (max-width: 975px) {
      width: 16px;
   }
}
.AproposHiddenContent {
   display: flex;
   justify-content: center;
   margin: 0px 100px;
   padding: 0px 10px;
   @media (max-width: 975px) {
      margin: 0;
      font-size: 13px;
   }
}
