@keyframes fade {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.MenuWrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   @media (max-width: 700px) {
      min-width: 100%;
      margin-bottom: 20px;
   }
}
.MenuButton {
   border: 0;
   border-radius: 10px;
   padding: 0 10px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ff6060;
   color: white;
   font-weight: 700;
   @media (max-width: 700px) {
      height: 30px;
      border-radius: 5px;
   }
}
.MenuTagName {
   font-weight: 700;
   font-size: 24px;
   @media (max-width: 700px) {
      font-size: 13px;
   }
}
.MenuTagArrow {
   @media (max-width: 700px) {
      width: 16px;
   }
}
.MenuTagArrow:hover {
   cursor: pointer;
}
.AproposHiddenContent {
   animation: fade 0.5s ease-in;
   background-color: #f6f6f671;
   display: flex;
   justify-content: left;
   align-items: center;
   text-align: left;
   padding: 10px 15px 10px 20px;
   line-height: 1.5;
   border-radius: 5px;
   min-height: 75px;
   @media (max-width: 700px) {
      font-size: 13px;
   }
}
