.CarrouselWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(100% - 200px);
   height: 415px;
   border-radius: 25px;
   position: relative;
   margin: 50px 0px 30px 0px;
}
.CarrouselImage {
   object-fit: cover;
   display: flex;
   height: 100%;
   width: 100%;
   border-radius: 25px;
}
.CarrouselArrowLeft {
   left: 25px;
   position: absolute;
   display: flex;
   justify-content: flex-start;
}
.CarrouselArrowLeft:hover {
   cursor: pointer;
}
.CarrouselArrowRight {
   right: 25px;
   position: absolute;
   display: flex;
   justify-content: flex-end;
}
.CarrouselArrowRight:hover {
   cursor: pointer;
}
.CarrouselCompteur {
   bottom: 25px;
   position: absolute;
   font-size: 18px;
   color: #ffffff;
}
