.HeaderWrapper {
   width: auto;
   margin: 45px 100px 0px 100px;
   display: flex;
   justify-content: space-between;
   color: #c43434;
   // background-color: rgb(209, 209, 209);
   @media (max-width: 700px) {
      margin: 20px 19.5px;
   }
}

.HeaderLogo {
   @media (max-width: 700px) {
      content: url("../../assets/logoSmall.png");
   }
}

.NavContainer {
   // margin-left: 25px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   // @media (max-width: 800px) {
   //    margin-left: 0;
   // }
}

.NavLink {
   text-transform: uppercase;
   margin-left: 50px;
   color: #000000;
   @media (max-width: 700px) {
      margin-left: 20px;
   }
   @media (max-width: 700px) {
      font-size: 12px;
   }
}
