.HeaderWrapper {
   // max-width: 1240px;
   margin: 45px 100px 50px 100px;
   display: flex;
   justify-content: space-between;
   color: #c43434;
   background-color: pink;
}

.NavContainer {
   max-width: 310px;
   background-color: green;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.NavLink {
   padding-left: 57px;
}
