//////////////////////////////////////////////////////////////////////////////
/// VERSION COLLAPSE.JSX
//////////////////////////////////////////////////////////////////////////////
.MenuWrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.MenuButton {
   border: 0;
   border-radius: 5px;
   padding: 0 10px;
   margin: 30px 100px 0px 100px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ff6060;
   color: white;
   font-weight: 700;
   @media (max-width: 975px) {
      margin: 20px 0px 0px 0px;
      height: 30px;
   }
}
.MenuTagName {
   font-weight: 700;
   font-size: 24px;
   @media (max-width: 975px) {
      font-size: 13px;
   }
}
.MenuTagArrow {
   @media (max-width: 975px) {
      width: 16px;
   }
}
.MenuTagArrow:hover {
   cursor: pointer;
}
.AproposHiddenContent {
   padding: 10px 15px 10px 20px;
   line-height: 1.5;
   align-items: center;
   border-radius: 5px;
   min-height: 75px;
   background-color: #f6f6f671;
   display: flex;
   justify-content: left;
   margin: 0px 100px;
   text-align: left;
   @media (max-width: 975px) {
      margin: 0;
      font-size: 13px;
   }
}
//////////////////////////////////////////////////////////////////////////////
/// VERSION LOGEMENT.JSX
//////////////////////////////////////////////////////////////////////////////
.LogementMenuWrapper {
   display: flex;
   flex-direction: column;
   min-height: 52px;
   width: 582px;
   @media (max-width: 975px) {
      min-height: 30px;
      margin-bottom: 10px;
   }
   @media (max-width: 1400px) {
      margin-top: 10px;
      width: 100%;
   }
}
.LogementMenuButton {
   border: 0;
   border-radius: 5px;
   padding: 0 10px;
   // margin: 0px 100px 0px 100px;
   // height: 100%;
   height: 52px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ff6060;
   color: white;
   font-weight: 700;
   @media (max-width: 975px) {
      height: 30px;
   }
}
.LogementMenuTagName {
   font-weight: 700;
   font-size: 24px;
   @media (max-width: 975px) {
      font-size: 13px;
   }
}
.LogementMenuTagArrow {
   @media (max-width: 975px) {
      width: 16px;
   }
}
.LogementMenuTagArrow:hover {
   cursor: pointer;
}
.LogementAproposHiddenContent {
   width: calc(100% - 25px);
   padding: 15px 10px 10px 15px;
   line-height: 1.5;

   border-radius: 5px;
   min-height: 75px;
   background-color: #f6f6f671;
   display: flex;
   flex-direction: column;
   // margin: 0px 100px;
   text-align: left;
   @media (max-width: 975px) {
      margin: 0;
      font-size: 13px;
   }
}
