.FooterWrapper {
   background-color: black;
   height: 210px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.FooterLogo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 66px;
   max-width: 122px;
   @media (max-width: 700px) {
      margin: 0;
   }
}

.Rights {
   font-size: 24px;
   margin: 50px 15px 30px 15px;
   text-align: center;
   @media (max-width: 700px) {
      font-size: 12px;
      max-width: 130px;
      padding-top: 10px;
      text-align: center;
      text-wrap: wrap;
      margin: 0;
   }
}
